{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% block title %}
 1nso
{% endblock %}

{% block page_content %}
    <div id="wrapper">
        <div id="container">
            {% for page in pages %}
                <div class="{{ cycle(['odd', 'even'], 1) }}">
                    {{ page.content[0].language.name }}
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}


{% block stylesheets %}
{{parent()}}
{% endblock %}
